# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration
# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres.tlcfdexdwpulexeqchix:nCXZRDidCeckzL7H@aws-1-ap-south-1.pooler.supabase.com:5432/postgres"
# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.tlcfdexdwpulexeqchix:nCXZRDidCeckzL7H@aws-1-ap-south-1.pooler.supabase.com:5432/postgres"

# Authentication
JWT_SECRET="is-a-secret-key-for-jwt"
